<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kamtu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kamtu.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kamtu</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$kamtu</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="KamTuDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sb4abni6eq.database.windows.net,1433;Initial Catalog=kamtuAPToXBUcanl;User ID=KamTu@sb4abni6eq;Password=Uvgl0123+" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="KamTu.Models.KamTuDB, KamTu" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KamTuDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sb4abni6eq.database.windows.net,1433;Initial Catalog=kamtuAPToXBUcanl;User ID=KamTu@sb4abni6eq;Password=Uvgl0123+</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>